<footer class="container-fluid text-center py-3">
    <div class="row">
    <div class="logo">
      <h1>Tr<span class="glitter">a</span>nsp<span class="glitter">o</span>ter'<span class="glitter">s</span></h1>
      <div class="bidding"><br>
        <h1>Bi<span class="glitter">dd</span>i<span class="glitter"></span>n<span class="glitter">g</span></h1>
      </div> 
    </div>
      <div class="col">
        <div class="row py-1">
          <div class="col">
            <p>Follow <span class="glitter">us</span> on</p> 
          </div>
        </div>
        <div class="row">
          <div class="col icon">
            <span><i class="fab fa-instagram"></i></span>
            <span><i class="fab fa-facebook-f"></i></span>
            <span><i class="fab fa-twitter"></i></span>
            <span><i class="fab fa-google"></i></span>
          </div>
        </div>
        <div class="row py-1">
          <div class="col">
            Saurabhbiswas@gmail.com
          </div>
        </div>
        <div class="row py-1">
          <div class="col">
            +91-111111111
          </div>
        </div>
  </div>
  </div>
  </footer>